@model IEnumerable<PersonRecommendationApp.Models.Entities.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => person.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.DateOfBirth)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    <a asp-action="Details" asp-controller="Person" asp-route-id="@person.Id">Details</a> |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                    <a asp-action="Create" asp-controller="Recommendation" asp-route-id="@person.Id">Make Recommendation</a>
                </td>
            </tr>
        }
    </tbody>
</table>
